<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
	<div style="max-width: 800px; margin: 0 auto; padding: 20px;">
		<h1 style="text-align: center;">User Profile</h1>
		<hr>
		<div style="display: flex; justify-content: center;">
			<img src="https://via.placeholder.com/150" alt="Profile Picture" style="border-radius: 50%; margin-right: 20px;">
			<div>
				<h2><%=username%></h2>
				<p>Email: <%=email%> <br> UniRollNo: <%=id%></p>
			</div>
		</div>
		<hr>
		<h3>Your Demands</h3>
		<h3><%=username%></h3>

		<% if (noOfDemands === 0) { %>
			<p>you have <%=noOfDemands%> demand</p>
			<div class="demandPost">
				<div class="demand">
				  <div class="demand-header">
					<!--<img src="profile-picture.jpg" alt="Profile Picture">-->
					<span class="time">--</span>
				  </div>
				  <div class="demand-body">
					<p>No demands from your side yet</p>
					<!-- <img src="images/favicon.ico" alt="BorrowEase Image"> -->
				  </div>
				  <div class="demand-footer">
					<!-- <a href="#" class="reply-link">reply</a> -->
					<!-- <a href="/delete" class="delete-link">delete</a> -->
				  </div>
				</div>
		
			
			<%} else { %>
				<p>you have <%=noOfDemands%> demands</p>
				<% demands.forEach(function(demand){ %>
					<p>Total money demanded by you</p>
					<form action="/delete" method="post" ></form>
					<div class="demandPost">
						<div class="demand">
						  <div class="demand-header">
							<!--<img src="profile-picture.jpg" alt="Profile Picture"> -->
							<span class="time"><%=demand.time%></span>
						  </div>
						  <div class="demand-body">
							<p>I want <%=demand.amount%> Rupees for <%=demand.reason%></p>
							<!-- <img src="images/favicon.ico" alt="BorrowEase Image"> -->
						  </div>
						  <div class="demand-footer">
							<form method="POST" action="/delete">
								<input type="hidden" name="id" value="<%=demand._id%>"/>
								<input type="submit" value="Delete">
								<!-- <a onclick="this.parentNode.submit()">Delete</a> </input> -->
							</form>
						  </div>
						</div>
					</form>
					<%  }) %>
				

			<% } %>
		<p style="font-style: italic;">Your Demands</p>
		<hr>
		<h3>About Me</h3>
		<p style="font-style: italic;">No information provided yet.</p>
	</div>
</body>
</html>
